<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    Modify settings below for oracle client configuration
  -->
  <Oracle.Client.Settings>
    <!--
      If true, oracle settings will be configured on the server
    -->
    <add key="ConfigureOracleSettings" value="False" />
    <!--
      The physical location on the disk where oracle tnsnames and sqlnet files are located
      Path should be defined to the parent directory of tnsnames.ora and sqlnet files
    -->
    <add key="OracleFilePath" value="C:\Odac\network\admin" />
    <!--
      The tns connection for prime
    -->
    <add key="TNSPrimeAlias" value="PRIMEDB" />
    <!--
      The tns connection for online
    -->
    <add key="TNSOnlineAlias" value="ONLINEDB" />
    <!--
      The sqlnet.ora settings
      Multiple sqlnet.ora settings should be separated with ';'
    -->
    <add key="SQLNetSettings" value="" />
  </Oracle.Client.Settings>
  <!--
    Modify prime installer settings below
  -->
  <Installation.Installer.Settings>
    <!--
      Set to true, if the source code is archived
      Set to false, if the source code is not archived 
    -->
    <add key="IsSourceFilesArchived" value="False" />
    <!--
      The physical location on the disk where the 7z.exe and 7z.dll is located
      Set to empty, if 7z is installed on the server or 7z will not be used for installation
      Path should be defined to the parent directory of 7z.exe and 7z.dll files
    -->
    <add key="7zipExecutablePath" value="c:\tsys\deployment\Installer\Primeweb-Artifacts\PrimeWebInstaller\utilities_exe\7zip\" />
    <!--
      The physical location on the disk where the source code is located
      If IsSourceFilesArchived is true, path should be defined to the name of the 7z archived file
      if IsSourceFilesArchived is false, path should be defined to the name of the directory of the source code
    -->
    <!-- <add key="SourceFilesPath" value="C:\TSYS\Deployment\Primeweb-Artifacts\Deployment\" /> -->
    <add key="SourceFilesPath" value="D:\TSYS\Artifacts\Primeweb-Artifacts\Deployment" />
  </Installation.Installer.Settings>
  <!--
    Modify settings below for application server installation
  -->
  <Installation.AppServer.Settings>
    <!--
      The application server site name
    -->
    <add key="AppServerSiteName" value="PRIME4APP" />
    <!--
      The physical location on the server where primeweb application server will be installed
      Path should be defined to the parent directory of AppServer folder
    -->
    <add key="AppServerDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\APP" />
    <!--
      The application server virtual directory name
    -->
    <add key="AppRootVirtualDirectory" value="PRIME4APP" />
    <!--
      If true, dedicated application pool for application server will be created
      If false, default application pool for application server will be used
    -->
    <add key="AppServerDedicatedAppPool" value="False" />
    <!--
      The application server url path
    -->
    <add key="FullPathToAppServer" value="https://q1-prwebapp.bnk.loc" />
    <!--
      The application server port number
      If EnableHttps flag is true, and application and web servers are on the same machine, then port should not be set to 443
    -->
    <add key="AppServerPort" value="443" />
    <!--
      If true, bindings configuration will be applied during installation
    -->
    <add key="ConfigureBindings" value="" />
    <!--
      If true, service endpoints configuration will be applied during installation
    -->
    <add key="ConfigureServiceEndpoints" value="" />
    <!--
      If true, DHI configuration will be applied during installation
    -->
    <add key="ConfigureDHI" value="" />
  </Installation.AppServer.Settings>
  <!--
    Modify settings below for web server installation
  -->
  <Installation.WebServer.Settings>
    <!--
      The physical location on the server where primeweb web server will be installed
      Path should be defined to the parent directory of WebServer folder
    -->
    <add key="WebServerDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB" />
    <!--
      The web server virtual directory name
    -->
    <add key="WebRootVirtualDirectory" value="PRIME4" />
    <!--
      If true, dedicated application pool for web server will be created
      If false, default application pool for web server will be used
    -->
    <add key="WebServerAppsDedicatedAppPools" value="False" />
    <!--
      If true, primeweb will be configured to use a third party application for user authentication
      The certificate issuers of third party authentication should be defined in section <Primeweb.Authentication.CertficateIssuers>
    -->
    <add key="ConfigureThirdPartyAuthentication" value="" />
  </Installation.WebServer.Settings>
  <!--
    Modify settings below for web apis installation
  -->
  <Installation.WebApis.Settings>
    <!--
      The authentication mode that will be set for the web apis
      Possible values: "WindowsNTLM", "IISClientCertificate"
    -->
    <add key="WebApiAuthenticationMode" value="WindowsNTLM" />
    <!--
      Set to true, if web apis will be installed on a different server than primeweb web server
    -->
    <add key="IsWebApiStandalone" value="" />
    <!--
      The physical location on the server where primeweb web apis will be installed
      Path should be defined to the parent directory of WebServer folder
    -->
    <add key="WebApiDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB" />
    <!--
      The web api virtual directory name
      Separated directory will be created for each institution with format the value below concatenated with institution connection alias
      Institution list defined in <API.Configuration.IISWebApplications> section
    -->
    <add key="WebApiRootVirtualDirectory" value="PRIME4API" />
    <!--
      If true, issuer web api will be installed
    -->
    <add key="ConfigureIssuerWebApi" value="true" />
    <!--
      If true, acquirer web api will be installed
    -->
    <add key="ConfigureAcquirerWebApi" value="true" />
    <!--
      If true, online web api will be installed
    -->
    <add key="ConfigureOnlineWebApi" value="true" />
    <!--
      If true, fraudguard web api will be installed
    -->
    <add key="ConfigureFraudguardWebApi" value="true" />
    <!--
      If true, bridge file schemas will be copied during installation
    -->
    <add key="ConfigureBridgeFiles" value="false" />
    <!--
      The physical location on the disk where the bridge file schemas are located
      Path should be defined to the name of the directory that contains the bridge file schemas
    -->
    <add key="BridgeFilesSourcePath" value="C:\Prime4Installer\artifacts\BridgeFiles" />
    <!--
      The physical location on the server where bridge file schemas will be copied
    -->
    <add key="BridgeFilesDestinationFolder" value="C:\BridgeFiles" />
  </Installation.WebApis.Settings>
  <!--
    Modify settings below for vts api installation
  -->
  <Installation.VTSApi.Settings>
    <!--
      Set to true, if vts api will be installed on a different server than primeweb web server
    -->
    <add key="IsVtsApiStandalone" value="" />
    <!--
      The physical location on the server where vts api will be installed
      Path should be defined to the vts api application folder
    -->
    <add key="VtsApiDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB\WebServer\API\VTS" />
    <!--
      The physical location on the server where vts api config files will be installed
      Path should be defined to the parent directory of api institution folders
    -->
    <add key="VtsApiConfigFileDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB" />
    <!--
      The vts api virtual directory name
      Separated directory will be created for each institution with format the value below concatenated with institution connection alias
      Institution list defined in <API.Configuration.IISWebApplications> section
    -->
    <add key="VtsApiRootVirtualDirectory" value="PRIME4API" />
    <!--
      If true, appsettings section of vts api config file will be encrypted
    -->
    <add key="VtsApiEncryptAppSettings" value="" />
  </Installation.VTSApi.Settings>
  <!--
    Modify settings below for support services api installation
  -->
  <Installation.SupportServicesApi.Settings>
    <!--
      The authentication mode that will be set for the web apis
      Possible values: "WindowsNTLM", "IISClientCertificate"
    -->
    <add key="SupportServicesApiAuthenticationMode" value="WindowsNTLM" />
    <!--
      Set to true, if support services api will be installed on a different server than primeweb web server
    -->
    <add key="IsSupportServicesApiStandalone" value="" />
    <!--
      The physical location on the server where support services api will be installed
      Path should be defined to the parent directory of AppServer or WebServer folder
    -->
    <add key="SupportServicesApiDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB" />
    <!--
      The physical location on the server where support services api config files will be installed
      Path should be defined to the parent directory of api institution folders
    -->
    <add key="SupportServicesApiConfigFileDestinationFolder" value="C:\inetpub\wwwroot\PRIME4\WEB" />
    <!--
      The support services api virtual directory name
      Separated directory will be created for each institution with format the value below concatenated with institution connection alias
      Institution list defined in <API.Configuration.IISWebApplications> section
    -->
    <add key="SupportServicesApiRootVirtualDirectory" value="PRIME4API" />
    <!--
      The component which the support services api will be installed under when not in standalone mode
      If true, support services api will be installed under web server
      If false, support services api will be installed under application server
    -->
    <add key="SupportServicesApiInstallationUnderWebServer" value="True" />
  </Installation.SupportServicesApi.Settings>
  <!--
    Modify settings below for notification service installation
  -->
  <Installation.NotificationService.Settings>
    <!--
      The physical location on the server where notification service will be installed
      Path should be defined to the parent directory of Notification Service folder
    -->
    <add key="NotificationServiceDestinationFolder" value="C:\TSYS\NotificationService" />
    <!--
      If true, the directory where notification service is located will be shared
    -->
    <add key="NotificationServiceShareDirectory" value="false" />
    <!--
      If true, notification service reports will be copied during installation
    -->
    <add key="ConfigureNotificationServiceReports" value="True"/>
    <!--
      The physical location on the disk where the report files are located
      Path should be defined to the name of the directory that contains the reports
    -->
    <add key="NotificationServiceReportsSourcePath" value="C:\Prime\reports"/>
  </Installation.NotificationService.Settings>
  <!--
    Modify settings below for windows applications installation
  -->
  <Installation.WindowsApplications.Settings>
    <!--
      The physical location on the server where windows applications will be installed
    -->
    <add key="WindowsAppsDestinationFolder" value="D:\TSYS\ThickClients" />
    <!--
      If true, a desktop shortcuts folder will be created
    -->
    <add key="WindowsAppsDesktopShortcuts" value="true" />
    <!--
      If true, prime reports will be copied during installation
    -->
    <add key="ConfigurePrimeReports" value="" />
    <!--
      The physical location on the disk where the report files are located
      Path should be defined to the name of the directory that contains the reports
    -->
    <add key="PrimeReportsSourcePath" value="D:\TSYS\ThickClients\Reports" />
  </Installation.WindowsApplications.Settings>
  <!--
    Modify settings below for IIS configuration
  -->
  <IIS.Configuration.Settings>
    <!--
      If true, https support will be configured
    -->
    <add key="EnableHttps" value="" />
    <!--
      The physical location on the disk where the ssl certificate is located
      Path should be defined to the name of the certicate file
    -->
    <add key="SSLCertificatePath" value="C:\Prime4Installer\certificates\securePrime4.pfx" />
    <!--
      The ssl certificate password
    -->
    <add key="SSLCertificatePassword" value="" />
    <!--
      If true, tls registry entries will be configured
    -->
    <add key="RegisterTLS" value="" />
    <!--
      The physical location on the disk where the schannel registry file is located
      Path should be defined to the name of the registry file
    -->
    <add key="TLSRegFilePath" value="C:\Prime4Installer\registry\SCHANNEL.reg" />
    <!--
      If true, fips algorithm policy will be configured
    -->
    <add key="RegisterFipsPolicy" value="" />
    <!--
      The physical location on the disk where the fipsalgorithmpolicy registry file is located
      Path should be defined to the name of the registry file
    -->
    <add key="FipsPolicyRegFilePath" value="C:\Prime4Installer\registry\FipsAlgorithmPolicy.reg" />
    <!--
      If true, ssl will be enabled
    -->
    <add key="EnableSSL" value="" />
    <!--
      If true, http response headers X-Powered-By will be cleared
    -->
    <add key="EnableClearHttpResponseHeaders" value="" />
    <!--
      If true, http verbs get, post, head will be registered
    -->
    <add key="EnableHttpVerbs" value="" />
  </IIS.Configuration.Settings>
  <!--
    Modify settings below for api web application connections
  -->
  <API.Configuration.IISWebApplications>
    <!--
        The element specifies the configuration for web apis
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        ConnectionAlias: the api connection alias
        issuerXMLValidation: if true, issuer bridge file xml schema validation will be enabled
        issuerXMLSchema: the issuer bridge file schema name
        acquirerXMLValidation: if true, acquirer bridge file xml schema validation will be enabled
        acquirerXMLSchema: the acquirer bridge file schema name
    -->
    <webApi institutionId="456" connectionAlias="DBR" issuerXMLValidation="true" issuerXMLSchema="bridgefile.xsd" acquirerXMLValidation="true" acquirerXMLSchema="bridgefile_acq.xsd" />
    <!--
        The element specifies the configuration for vts api
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        ConnectionAlias: the api connection alias
    -->
    <vtsApi institutionId="456" connectionAlias="DBR" />
    <!--
        The element specifies the configuration for support services api
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        ConnectionAlias: the api connection alias
    -->
    <supportServicesApi institutionId="456" connectionAlias="DBR" />
  </API.Configuration.IISWebApplications>
  <!--
    Modify settings below for the apis IIS client certificates authentication
    Section needs to be defined for WebApiAuthenticationMode = IISClientCertificate and SupportServicesApiAuthenticationMode = IISClientCertificate
  -->
  <API.Authentication.IISClientCertificates>
    <!--
The element specifies the authentication configuration for web apis
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        User: the username of the configured user
    -->
        <!-- <webApi institutionId="456" user="" userPasswordCertificate="" /> -->
    <!--
        The element specifies the authentication configuration for support services api
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        User: the username of the configured user
    -->
    <!--    <supportServicesApi institutionId="456" user="" userPasswordCertificate="" /> -->
  </API.Authentication.IISClientCertificates>
  <!--
    Modify settings below for the apis windows NTLM authentication
    Section needs to be defined if local users are going to be used to access apis
    Section needs to be defined for WebApiAuthenticationMode = WindowsNTLM and SupportServicesApiAuthenticationMode = WindowsNTLM
  -->
  <API.Authentication.WindowsUsers>
    <!--
        The element specifies the authentication configuration for web apis
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        User: the username of the configured user
    -->
    <!--    <webApi institutionId="456" user="" userPassword="" /> -->
    <!--
        The element specifies the authenitication configuration for support services api
        A new element needs to be specified for each configured institution
        InstitutionId: the api institution id
        Apiuser: the username of the configured user
        UserPassword: the user password
    -->
    <!--     <supportServicesApi institutionId="456" user="" userPassword="" /> -->
  </API.Authentication.WindowsUsers>
  <!--
    Modify settings below for primeweb third party authentication
    Multiple certificate issuers should be enclosed in a separated issuer tag
  -->
  <Primeweb.Authentication.CertificateIssuers>
    <!--
      The name of the certificate issuer
    -->
    <issuer name ="">
      <!--
        The group prefix to be appended to the groups of the certificate issuer
      -->
      <add key="GroupPrincipalPrefix" value="" />
      <!--
        The public key of the issuer certificate
      -->
      <add key="CertificatePublicKey" value="" />
      <!--
        The certificate location
        Possible values: "Embedded", "File", "CurrentUserStore", "LocalMachineStore"
      -->
      <add key="CertificateLocation" value="" />
      <!--
        The subject name of the certificate when CertificateLocation = LocalMachineStore | CurrentUserStore
      -->
      <add key="CertificateName" value="" />
      <!--
        The path to the certificate on the disk when CertificateLocation = File
      -->
      <add key="CertificateFileName" value="" />
      <!--
        The password of the certificate
      -->
      <add key="CertificateFilePassword" value="" />
    </issuer>
  </Primeweb.Authentication.CertificateIssuers>
  <!--
    Modify settings below for primeweb configuration
  -->
  <Primeweb.Configuration.Settings>
    <!--
      The assertion consumer file name
    -->
    <add key="simAssertionConsumer" value="AssertionConsumer20.ashx" />
    <!--
      If true, session authentication will be enabled
    -->
    <add key="simEnableAuthenticationModule" value="True" />
    <!--
      If true, session authorization will be enabled
    -->
    <add key="simEnableAuthorizationModule" value="True" />
    <!--
      The session expiration duration
    -->
    <add key="simSessionTimeout" value="15" />
    <!--
      The scope for the session management. 
      Each set of applications can have its sessions managed independently by a single installation of the sim module
    -->
    <add key="simApplication" value="PRIME4" />
    <!--
      The redirection back to the target application url used by sim module
    -->
    <add key="simAllowMultipleSessions" value="True" />
    <!--
      The primeweb log on url
    -->
	<add key="simAuthenticationUrl" value="/PRIME4/WebApplications/SessionManagement/LogOn.aspx" />
    <!--
      The method used to convert formsidentity to windowsidentity 
      Possible values: "KerbS4ULogon", "Windows"
    -->
    <add key="authenticationIdentityTransition" value="Windows" />
    <!--
      Set to true, if document management service has been installed
    -->
    <add key="IsDGMEnabled" value="False" />
    <!--
      The document management generation service information
    -->
    <add key="DocumentGeneration.HttpDocBaseUrl" value="https://172.25.76.141:8080/PRIME4/WebApplications/ApplicationServer/Documents/" />
    <add key="DocumentGeneration.UseHttpDoc" value="true" />
    <add key="DocumentGeneration.HttpDocUseBuffer" value="true" />
    <add key="DocumentGeneration.HttpDocTxBufferSize" value="32768" />
  </Primeweb.Configuration.Settings>
  <!--
    Modify the appSettings details below for primeweb service config configuration
  -->
  <Primeweb.Configuration.ServiceConfig.AppSetings>
    <add key="disablePermissionCache" value="false"/>
    <add key="ldapuseCredentials" value="False" />
    <add key="ldapUserName" value="" />
    <add key="ldapPassword" value="" />
    <add key="ldapEncryptPassword" value="True" />
    <add key="ldapRevertImpersonation" value="True" />
    <add key="ldapByPrincipalGroup" value="False" />
    <add key="ldapObjectClassFilter" value="organizationalUnit" />
  </Primeweb.Configuration.ServiceConfig.AppSetings>
  <!--
    Modify the channel adapters below for primeweb web config configuration
  -->
  <Primeweb.Configuration.WebConfig.ChannelAdapters>
    <serviceChannels service="*">
      <add channelAdapter="CTL.COM.Framework.ServicePipeline.ChannelAdapters.RequestCacheChannelAdapter, CTL.COM.Core.Base" />
      <add channelAdapter="CTL.COM.Security.CacheMonitorChannelAdapter, CTL.COM.Core" />
      <add channelAdapter="CTL.COM.Framework.ServicePipeline.ChannelAdapters.BinaryWebServiceChannelAdapter, CTL.COM.Framework, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" />
    </serviceChannels>
  </Primeweb.Configuration.WebConfig.ChannelAdapters>
  <!--
    Modify the session state server details below for primeweb configuration
  -->
  <Primeweb.Configuration.SessionState>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="15" />
  </Primeweb.Configuration.SessionState>
  <!--
    Modify settings below for session management configuration file
  -->
  <Primeweb.Configuration.SessionManagement>
    <!--  
      The ldap server name
      Set to empty, if a specific server is not used for ldap queries
    -->
    <add key="ldapServer" value=""/>
    <!-- 
      The ldap server port
      Set to empty, if a specific server is not used for ldap queries
    -->
    <add key="ldapServerPort" value=""/>
    <!--
      The ldap server timeout in seconds
      Set to empty, if a specific server is not used for ldap queries
    -->
    <add key="ldapServerTimeout" value=""/>
    <!--  
      The ldap connection username, format Domain\Username
      Set to empty, if a specific user is not used for ldap queries
    -->
    <add key="connectionUsername" value=""/>
    <!--  
      The ldap connection username password
      Set to empty, if a specific user is not used for ldap queries
    -->
    <add key="connectionPassword" value=""/>
    <!--  
      The authentication type used to bind active directory
      Possible values: Anonymous, Delegation, Encryption, FastBind, None, ReadonlyServer, Sealing, Secure, SecureSocketsLayer, ServerBind, Signing
    -->
    <add key="authenticationType" value=""/>
    <!--  
      The logon type
      Valid only in AuthenticationMembershipProvider = Mixed
      Possible values: Interactive, Network, Batch, Service, Unlock, NetworkNoOldPassword, NewCredentials
    -->
    <add key="logonType" value="NetworkNoOldPassword"/>
    <!--  
      The period before warning the user for password expiration
      Valid only in AuthenticationMembershipProvider = ActiveDirectory
    -->
    <add key="daysBeforeToWarn" value="15"/>
    <!--  
      The membership provider used to log on and password change
      Possible values: ActiveDirectory, Windows, Mixed
    -->
    <add key="authenticationMembershipProvider" value="Windows"/>
    <!-- 
      The method used to convert formsidentity to windowsidentity 
      Possible values: KerbS4ULogon, Windows
    -->
    <add key="authenticationIdentityTransition" value="Windows"/>
    <!-- 
      The default domain name
      Set to empty, to display default domain name of the server
    -->
    <add key="DefaultDomainName" value="BNK"/>
    <!--
      The list of available domain names
      Multiple domains should be separated with ';'
    -->
    <add key="DomainNameList" value="BNK"/>
    <!-- 
      If true, password change functionality will be enabled
    -->
    <add key="simAllowPasswordChange" value="True"/>
    <!-- 
      The type of class for retrieving the user token or social security number
    -->
    <add key="UserTokenProviderType" value="CTL.COM.Security.UserSsnProvider, CTL.COM.Core"/>
  </Primeweb.Configuration.SessionManagement>
  <!--
    Modify database connections below for primeweb configuration
  -->
  <Primeweb.Data.DBConnections>
    <daabProvider alias="PrimeDB_Center" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=PRIMEDB; User ID=PRM_WEB0000; Password=PRM_WEB0000; Validate Connection=true" authTicketVersion="5" initializationString="call SV_DB_CONTEXT.Reset_Connection_Context()" />
    <daabProvider alias="OnlineDB_Center" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=ONLINEDB; User ID=ONL_WEB0000; Password=ONL_WEB0000; Validate Connection=true" authTicketVersion="5" initializationString="call SV_DB_CONTEXT.Reset_Connection_Context()" />
    <daabProvider alias="PrimeDB_DBR" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=PRIMEDB; User ID=PRM_WEB9456; Password=PRM_WEB9456; Validate Connection=true" authTicketVersion="5" initializationString="call SV_DB_CONTEXT.Reset_Connection_Context()" />
    <daabProvider alias="OnlineDB_DBR" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=ONLINEDB; User ID=ONL_WEB9456; Password=ONL_WEB9456; Validate Connection=true" authTicketVersion="5" initializationString="call SV_DB_CONTEXT.Reset_Connection_Context()" />
    <daabProvider alias="SupportDB_DBR" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=PRIMEDB; User ID=PRM_APP9456; Password=PRM_APP9456; Validate Connection=true;" authTicketVersion="5" initializationString="call SV_DB_CONTEXT.Reset_Connection_Context()" />
    <daabProvider alias="PrimeDB_CrossInstitution" assembly="CTL.COM.Data.Oracle, Version=4.8.0.0, Culture=neutral, PublicKeyToken=a769f14d783cf93d" type="CTL.COM.Data.Oracle" connectionString="Data Source=PRIMEDB; User ID=PRM_WEB0000; Password=PRM_WEB0000; Pooling=false;Validate Connection=true" authTicketVersion="5" />
  </Primeweb.Data.DBConnections>
  <!--
    Modify institutions below for primeweb configuration
    Specific settings for web and service config files, should be enclosed in <webConfig> and <serviceConfig>, in the extraData section
  -->
  <Primeweb.Data.Institutions>
    <institution id="0" shortCode="CNTR">
      <membershipCriteria>
        <principals>
          <group>BNK\Domain Users</group>
        </principals>
      </membershipCriteria>
      <connectionAliases>
        <prime>PrimeDB_Center</prime>
        <online>OnlineDB_Center</online>
        <common>PrimeDB_Center</common>
        <resources>PrimeDB_Center</resources>
      </connectionAliases>
      <languages defaultLanguage="en-US">
        <language>en-US</language>
        <language>ru-RU</language>
      </languages>
      <directoryService>
        <domain>TSYS.TSS.NET</domain>
        <usersOU>DC=tsys,DC=tss,DC=net</usersOU>
        <groupsOU>DC=tsys,DC=tss,DC=net</groupsOU>
        <extraData>
          <add key="netbiosName" value="BNK" />
        </extraData>
      </directoryService>
      <extraData>
        <webConfig>
          <add key="userRepositoryMode" value="Ldap" />
          <add key="userRepositoryFile" value="" />
        </webConfig>
        <serviceConfig>
          <add key="userRepositoryMode" value="Ldap" />
          <add key="userRepositoryFile" value="" />
        </serviceConfig>
      </extraData>
    </institution>
    <institution id="456" shortCode="DBR">
      <membershipCriteria>
        <principals>
          <group>BNK\Domain Users</group>
        </principals>
      </membershipCriteria>
      <connectionAliases>
        <prime>PrimeDB_DBR</prime>
        <online>OnlineDB_DBR</online>
        <common>PrimeDB_DBR</common>
        <resources>PrimeDB_DBR</resources>
        <support>SupportDB_DBR</support>
        <CrossInstitution>PrimeDB_CrossInstitution</CrossInstitution>
      </connectionAliases>
      <languages defaultLanguage="en-US">
        <language>en-US</language>
        <language>ru-RU</language>
      </languages>
      <directoryService>
        <domain>TSYS.TSS.NET</domain>
        <usersOU>DC=tsys,DC=tss,DC=net</usersOU>
        <groupsOU>DC=tsys,DC=tss,DC=net</groupsOU>
        <extraData>
          <add key="netbiosName" value="BNK" />
        </extraData>
      </directoryService>
      <extraData>
        <webConfig>
          <add key="userRepositoryMode" value="Ldap" />
          <add key="userRepositoryFile" value="" />
          <add key="allowedCrossInstitutionApplications" value="WebCustomerServices,WebMerchants" />
          <add key="IDS.Authority" value="https://sit-win2016-acs.intl.tsysdev.net:447/IdentityServer" />
          <add key="IDS.TokenEndpoint" value="/connect/token" />
          <add key="IDS.ClientID" value="PrimeWeb.TSYS" />
          <add key="IDS.ClientSecret" value="client.secret" />
          <add key="IDS.GrantType" value="client_credentials" />
          <add key="IDS.Scope" value="TSYS.Prime.ApplicationApis.UserManagement" />
        </webConfig>
        <serviceConfig>
          <add key="userRepositoryMode" value="Ldap" />
          <add key="userRepositoryFile" value="" />
          <add key="allowedCrossInstitutionApplications" value="WebCustomerServices,WebMerchants" />
          <add key="vrolSystemId" value="mysystemid" />
          <add key="vrolSystemIdType" value="internalId" />
          <add key="vrolUserId" value="myuserid" />
          <add key="vrolUserPassword" value="mypassword" />
          <add key="vrolCertificateName" value="C:\DisputeCertificates\testVrolRtsi.pfx" />
          <add key="vrolCertificatePassword" value="1234" />
          <add key="vrolClientCertificateSubject" value="DM Vrol Rtsi test" />
          <add key="vrolIsClientCertificateInFile" value="true" />
          <add key="vrolRtsiSIEndpointName" value="VrolRtsiSIOperations" />
          <add key="vrolLogRTSIRequestResponse" value="0" />
          <add key="vrolUseMTOM" value="false" />
          <add key="D3.UserId" value="d3_webservice" />
          <add key="D3.UserPassword" value="1234" />
          <add key="mComConsumerKey" value="kkaSUnyxKeRZ9-8r1olvi3-4PP_q9aor_a2q9RFA36e595d7!8f2c0cc64927495b89f6ae8a85ddb1040000000000000000" />
          <add key="mComKeyAlias" value="keyalias" />
          <add key="mComKeyPassword" value="keystorepassword1" />
          <add key="mComCertificatePath" value="C:\Certifications\Prime4MDR-sandbox.p12" />
          <add key="mComTestServer" value="1" />
          <add key="mComTestDataPath" value="C:\TestFiles\MasterCom" />
          <add key="mComEnableDebugInfo" value="true" />
          <add key="mComDocumentType" value="ORIGINAL" />
          <add key="mComProxyIp" value="proxyuk.intl.tsysdev.net" />
          <add key="mComProxyPort" value="8080" />
          <add key="mComProxyUsername" value="" />
          <add key="mComProxyPassword" value="" />
          <add key="mComDocumentMaxSize" value="15000000"/>
        </serviceConfig>
      </extraData>
    </institution>
  </Primeweb.Data.Institutions>
  <!--
    Modify bindings below for primeweb configuration
  -->
  <Primeweb.Data.Bindings>
    <serviceBinding name="basicHttpBinding">
      <binding name="HttpDefaultBinding" sendTimeout="24.05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
        <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      </binding>
      <binding name="HttpSecureBinding" sendTimeout="24.05.00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
        <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        <security mode="Transport">
          <transport clientCredentialType = "Certificate" />
        </security>
      </binding>
    </serviceBinding>
  </Primeweb.Data.Bindings>
  <!--
    Modify endpoints below for primeweb configuration
  -->
  <Primeweb.Data.ServiceEndpoints>
    <endpoint name="VrolRtsiSIOperations" address="http://localhost/VROLRTSITestServices/RTSIEmulator.svc" binding="basicHttpBinding" bindingConfiguration="HttpDefaultBinding" contract="SIRTSIOperations" />
  </Primeweb.Data.ServiceEndpoints>
  <!--
    Modify dhi settings below for primeweb configuration
  -->
  <Primeweb.Data.DHIConfiguration>
    <DHINodeGroup name="group_1" startBin="4000000000000000" endBin="4999999999999999">
      <DHINode ip="10.33.6.156" port="50009" maxConnections="4" />
    </DHINodeGroup>
    <DHINodeGroup name="group_2" startBin="-1" endBin="0">
      <DHINode ip="10.33.6.156" port="50009" maxConnections="4" />
    </DHINodeGroup>
    <ConnectionAcquireTimeout>30</ConnectionAcquireTimeout>
    <ConnectionWaitTimeout>10</ConnectionWaitTimeout>
    <OnlineMessageLength>5</OnlineMessageLength>
    <NodeRecheckInterval>5</NodeRecheckInterval>
  </Primeweb.Data.DHIConfiguration>
  <!--
    Modify settings below for vts api configuration
  -->
  <VtsApi.Configuration.Data>
    <!--
      The support services api url
    -->
    <add key="SupportServicesUrl" value="" />
    <!--
      The support services api domain name
    -->
    <add key="SupportServicesDomain" value="" />
    <!--
      The support services api username
    -->
    <add key="SupportServicesUsername" value="" />
    <!--
      The support services api password
    -->
    <add key="SupportServicesPassword" value="" />
  </VtsApi.Configuration.Data>
  <!--
    Modify settings below for vts api certificates
  -->
  <VtsApi.Configuration.Certificates>
    <!--
        The element specifies the configuration for visa certificates
        certificateKid: the certificate key identifier
        certificatePath: the certificate path
        certificatePassword: the certificate password
    -->
    <primeweb certificateKid="" certificatePath="" certificatePassword="" />
    <vtsjws certificateKid="" certificatePath="" certificatePassword="" />
    <vtsjwe certificateKid="" certificatePath="" certificatePassword="" />
  </VtsApi.Configuration.Certificates>
  <!--
    Modify listeners below for notification service configuration
  -->
  <NotificationService.Data.Listeners>
    <listener name="MDRQueueListener" type="CTL.COM.Applications.Windows.NotificationServiceCore.OracleAQListener, CTL.COM.Applications.Windows.NotificationServiceCore" destinationChannel="MDRQueueChannel" concurrency="1">
      <parameters>
        <parameter name="Connection" value="BPMNotification"/>
        <parameter name="Subscription" value="MCOM_Q"/>
        <parameter name="InstitutionList" value="TSYS"/>
      </parameters>
    </listener>
    <listener name="MDRAutoListener" type="CTL.COM.Applications.Windows.NotificationServiceCore.OracleAQListener, CTL.COM.Applications.Windows.NotificationServiceCore" destinationChannel="MDRAutoChannel" concurrency="1">
      <parameters>
        <parameter name="Connection" value="BPMNotification"/>
        <parameter name="Subscription" value="MCOM_A"/>
      </parameters>
    </listener>
  </NotificationService.Data.Listeners>
  <!--
    Modify channels below for notification service configuration
  -->
  <NotificationService.Data.Channels>
    <channel name="vrolIncomingFileChannel" type="CTL.COM.Applications.Windows.NotificationService.Channels.VROL.Channels.FileChannel, CTL.COM.Applications.Windows.NotificationService.Channels.VROL" concurrency="1">
    </channel>
    <channel name="vrolDownloadChannel" type="CTL.COM.Applications.Windows.NotificationService.Channels.VROL.Channels.DownloadChannel, CTL.COM.Applications.Windows.NotificationService.Channels.VROL" concurrency="1">
      <institutions>
        <institution id="0" code="CNTR">
          <parameters>
            <parameter name="DatabaseAlias" value="PrimeDB_CNTR"/>
          </parameters>
        </institution>
        <institution id="45" code="DBR">
          <parameters>
            <parameter name="DatabaseAlias" value="PrimeDB_DBR"/>
          </parameters>
        </institution>
      </institutions>
    </channel>
  </NotificationService.Data.Channels>
  <!--
    Modify connection strings below for notification service configuration
  -->
  <NotificationService.Data.ConnectionStrings>
    <add name="CRRPTNotification" connectionString="Data Source=QAPRIME; User Id=PRM_NTF0000; Password=PRM_NTF0000"/>
    <add name="CRRPTNotification1" connectionString="Data Source=QAONLINE; User Id=ONL_NTF0000; Password=ONL_NTF0000"/>
  </NotificationService.Data.ConnectionStrings>
  <!--
    Modify settings for windows applications configuration
  -->
  <WindowsApplications.Configuration.Settings>
    <!--
      The windows applications default user
    -->
    <add key="WindowsAppsDefaultUser" value="PRM_APP9456" />
    <!--
      The windows applications default service name
    -->
    <add key="WindowsAppsDefaultService" value="PRIMEDB" />
    <!--
      The windows applications service list
      Multiple service names should be separated with ';'
    -->
    <add key="WindowsAppsServicesList" value="PRIMEDB" />
    <!--
      If true, os authentication will be enabled
    -->
    <add key="WindowsAppsOSAuthentication" value="false" />
    <!--
      The role name
    -->
    <add key="WindowsAppsRole" value="all" />
    <!--
      The reports path
    -->
    <add key="WindowsAppsReportPath" value="C:\Prime\Reports" />
    <!--
      The reports export path
    -->
    <add key="WindowsAppsReportExportPath" value="C:\Prime\Report Export" />
    <!--
      If true, oracle SQL traces will be enabled
    -->
    <add key="WindowsAppsEnableSQLTrace" value="False" />
    <!--
      The oracle tracefile identifier
    -->
    <add key="WindowsAppsTraceFileIdentifier" value="vbnet" />
    <!--
      If true, concurrent sessions support will be enabled
    -->
    <add key="WindowsAppsAllowConcurrentUserSessions" value="False" />
    <!--
      The ServiceCache path
    -->
    <add key="WindowsAppsserviceHandlerSearchPath" value="~\..\..\ServiceCache" />
  </WindowsApplications.Configuration.Settings>
  <Installation.Logger.Settings>
    <!-- 
      Added 25.03.2022. The level value for which logging is enabled. 
      Possible values: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL 
    -->
    <add key="level" value="WARN" />
  </Installation.Logger.Settings>
</configuration>
